[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/themer-plasma
Name=Themer background process
Comment=Background process to connect Themer to the changing of a Look & Feel theme
Icon=preferences-desktop-theme
Terminal=false
NoDisplay=true
Type=Application
StartupNotify=false
X-KDE-autostart-after=panel
X-Ubuntu-Gettext-Domain=feren-themer-plasma-daemon
